{% extends 'portal/base.html' %}
{% load static %}
{% block main %}



<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">All Users</h1>
    <p class="mb-4">All Registered User & there details</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">All Users Table</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Joined Date</th>
                            <th>Total Used</th>
                            
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Joined Date</th>
                            <th>Total Used</th>
                        </tr>
                    </tfoot>
                    
                   <tbody>
                    {% for usr in users %}
                    <tr>
                        <td><img src="{% if usr.profile_img %}{{usr.profile_img.url}}{% else %}https://www.pngitem.com/pimgs/m/30-307416_profile-icon-png-image-free-download-searchpng-employee.png{% endif %}" class="rounded rounded-3" height="80px" width="80px"  alt="" srcset=""></td>
                        <td>{{usr.user.first_name}} {{usr.user.last_name}}</td>
                        <td>{{usr.user.email}}</td>
                        <td>{{usr.user.date_joined}}</td>
                        <td>{{usr.use_remover}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock main %}
{% block script %}

<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>

{% endblock script %}

